@import "tailwindcss";

@theme {
  --color-brand-primary: #7F77DD;
  --color-brand-hover: #534AB7;
  --color-brand-light: #EEEDFE;
  
  --color-success-primary: #1D9E75;
  --color-success-light: #E1F5EE;
  --color-success-dark: #0F6E56;
  
  --color-coral-primary: #D85A30;
  --color-coral-light: #FAECE7;
  --color-coral-dark: #993C1D;
  
  --color-amber-primary: #BA7517;
  --color-amber-light: #FAEEDA;

  --color-bg-primary: #FFFFFF;
  --color-bg-secondary: #F8F9FB;
  --color-bg-tertiary: #F1F2F6;

  --color-text-primary: #111827;
  --color-text-secondary: #4B5563;
  --color-text-tertiary: #9CA3AF;

  --color-border-secondary: #E5E7EB;
  --color-border-tertiary: #F3F4F6;
}

:root {
  background-color: var(--color-bg-tertiary);
  color: var(--color-text-primary);
}

body {
  font-family: var(--font-sans);
  background: var(--color-bg-tertiary);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Hide scrollbar for cleaner look */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--color-border-secondary);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-text-tertiary);
}
